*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    width:70%;
    margin: auto;
    text-align:justify ;
}
header {
    text-align: center;
}
.header1 p{
    color: rgba(255, 255, 255, 0.5);
}
header nav :first-child{
    background-color: rgb(196, 32, 63);
}
header a:hover{
    background-color: rgb(196, 32, 63);
}

header a{
    color: #fff;
    text-decoration: none;
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
}
.header1{
    background-color: #2a0b00;
    margin-bottom: 0px;
    height: 200px;
    color: #fff;
}
header h1{
    margin: 0px;
}
.header1 h1{
    padding-top: 50px;
}
.header2 h1{
    padding-top: 30px;
    padding-bottom: 15px;
}
.header2{
    background-color: #ed5e26;
    margin-top: 0px;
    height: 220px;
    color: black;
}
.header2 p{
    width: 70%;
    margin: auto;
    text-align: justify;
}
.box{
    display: inline-block;
    height: 100px;
    width: 200px;
    padding-left: 10px;
    padding-right: 10px;
}
main section{
    text-align: center;
    padding-bottom:75px ;
}
.box2{
    display: inline-block;
    height: 100px;
    width: 200px;
    padding-left: 10px;
    padding-right: 10px;
}
footer{
    text-align: center;
    background-color: #2a0b00;
    color: rgba(255, 255, 255, 0.5);
    height: 250px;
    padding-top:100px;
}
main a{
    font-size: 1.2em;
    background-color: rgb(196, 32, 63);
    color: #fff;
    text-decoration: none;
    padding: 5px;
}
main span{
    font-size: 0.8em;
}
.box span{
    padding-top: 20px;
    font-size: 3em;
    color: #703000;
}
footer span{
    color: #fff;
    margin-left: 20px;
    margin-right: 20px;
}