body{
    background-color:rgb(226, 231, 248);
    margin: 0px;
    
}
.menu{
    text-align: center;
}
.texto{
    text-align: justify;
    width: 70%;
    margin: 0 auto;
    position: relative;
}
header{
    background-color: rgba(175, 173, 170, 0.589);
    text-align: center;
}
footer{
    background-color: rgba(175, 173, 170, 0.589);
    bottom: 0px;
    height: 40px;
}
.trabalhos{
    height: 500px;
    margin-left: 20px;
    margin-top: 20px;
}
.voltar{
    margin-left: 20px;
    margin-block-start: 5px;
}
